.cf-table-wrap
  %table.usa-table-borderless.cf-table-borderless
    %thead
      %tr
        %th{"data-field" => "id"} #
        %th{"data-field" => "id"} Repo
        %th{"data-field" => "description"} Description
        %th{"data-field" => "labels"} Labels
        %th{"data-field" => "assignees"} Assignees
        %th{"data-field" => "user"} Created By
    %tbody
      - issues.sort_by {|work_item| if work_item['type'] == :pull_request then 0 else 1 end}.each do |issue|
        %tr{:style => ('background-color: #fff3e0' if issue['type'] == :pull_request)}
          %td
            %a{:href => issue['url']}
              = "PR" if issue['type'] == :pull_request
              \##{issue['number']}
          %td= issue['repositoryName']
          %td= issue['title']
          %td
            - issue['labels']['nodes'].each do |label|
              .chip{:style => "background-color: ##{label['color']}"}= label['name']
          %td
            = issue['assignees']['nodes'].map{ |assignee| assignee['login'] }.join(", ")
          %td
            = issue['author']['login']
