.cf-table-wrap
  %table.usa-table-borderless.cf-table-borderless
    %thead
      %tr
        %th{"data-field" => "id"} #
        %th{"data-field" => "id"} Repo
        %th{"data-field" => "description"} Description
        %th{"data-field" => "labels"} Labels
        %th{"data-field" => "assignees"} Assignees
        %th{"data-field" => "user"} Created By
    %tbody
      - issues.each do |issue|
        %tr{:style => ('background-color: #fff3e0' if issue.key?(:pull_request))}
          %td
            %a{:href => issue[:html_url]}
              = "PR" if issue.key? :pull_request
              \##{issue[:number]}
          %td= issue[:html_url].split("/")[4]
          %td= issue[:title]
          %td
            - issue[:labels].each do |l|
              .chip{:style => "background-color: ##{l[:color]}"}= l[:name]
          %td
            = issue[:assignees].map{ |assignee| assignee[:login] }.join(", ")
          %td
            = issue[:user][:login]