
<h1>Closed Issues - <%= @current_sprint_issues.count %></h1>
    
<table class="bordered">
  <thead>
    <tr>
      <th data-field="id">#</th>
      <th data-field="description">Description</th>
      <th data-field="labels">Labels</th>
      <th data-field="assignees">Assignees</th>
    </tr>
  </thead>
  <tbody>
    <% @current_sprint_issues.each do |issue| %>
    <tr>
      <td><a href="<%= issue[:html_url] %>">#<%= issue[:number] %></a></td>
      <td><%= issue[:title] %></td>
      <td>
        <% issue[:labels].each do |l| %>
          <%= l[:name] %>
        <% end %>
      </td>
      <td>

              
        <%= issue[:assignees].map{ |assignee| assignee[:login] }.join(", ") %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


