
- unless @weekly_report.nil?
  %h2 Weekly Report

.cf-table-wrap
  %table.usa-table-borderless.cf-table-borderless
    %thead
      %tr
        %th{"data-field" => "number"} Number
        %th{"data-field" => "id"} Created_at
        %th{"data-field" => "description"} Title
        %th{"data-field" => "labels"} Product
        %th{"data-field" => "labels"} Labels
        %th{"data-field" => "assignees"} Assignees
        %tbody
   
  - @weekly_report.group_by {|issue| }.each do |group, issues|
    %h2= group.to_s 
   
    %tr{:class => "list-#{group}"} 
    - issues.each do |issue| 
      %td= issue[:number] 
      %td= issue[:Created_at]
      %td= issue[:title]
      %td= issue[:assignees].map{|assignee| assignee[:login]}.join(",")
      %td=(Date.today - issue[:created_at].to_date).to_i
      %td= issue[:state]
      %td=issue[:link]

   



<a href="weekly_report">Excel</a>
  <table  class="usa-table-borderless cf-table-borderless">
      <tr>
        <th data-field="number">Number</th>
        <th data-field="id">Date</th>
        <th data-field="description">Description</th>
        <th data-field="assignees">Assignees</th>
        <th data-field="labels">Days Open</th>
        <th data-field="status">State</th>
         <th data-field="link">Link</th>
        <th data-field="labels">Issue Type</th>
        <th data-field="labels">Product</th>
      </tr>

  <% @weekly_report.group_by {|issue| }.each do |group, issues| %>
    <h2>
      <%= group.to_s  %>
    </h2>
    <tr class="list-<%= group %>"></tr>
    <tr><% issues.each do |issue|  %>
      <td>
        <%= issue[:number]  %>
      </td>
      <td>
        <%= issue[:created_at] %>
      </td>
      <td>
        <%= issue[:title] %>
      </td>
      <td>
        <%= issue[:assignees].map{|assignee| assignee[:login]}.join(",") %>
      </td>
      <td>
        <%= (Date.today - issue[:created_at].to_date).to_i %>
      </td>
      <td>
        <%= issue[:state] %>
      </td>
      <td>
        <%= issue[:html_url] %>
      </td>
       <td>
        <%= issue[:labels].empty? ? "" : (issue[:labels].collect{ |i| i[:name] } & Github::LABELS).join(", ") %>
      </td>
       <td>
        <%= issue[:labels].empty? ? "" : (issue[:labels].collect{ |i| i[:name] } & Github::PRODUCT_LABELS).join(", ") %>
      </td>
      </tr>
    <% end %>
  <% end %>
 
</table>

 @weekly_report.each do |button|
    sheet.add_row [button.name, button.category, button.price]



    iss[:created_at],(Date.today - iss[:created_at].to_date).to_i, iss[:labels].empty? ? "" : (iss[:labels].collect{ |i| i[:name] } & Github::PRODUCT_LABELS).join(", "),
       iss[:title], iss[:state], iss[:assignees].map{|assignee| assignee[:login]}.join(","), iss.labels.empty? ? "" : (iss[:labels].collect{ |i| i[:name] } & Github::LABELS).join(", ")]
      

      , iss[:created_at],(Date.today - iss[:created_at].to_date).to_i, iss[:labels].empty? ? "" : (iss[:labels].collect{ |i| i[:name] } & Github::PRODUCT_LABELS).join(", "),
       iss[:title], iss[:state], iss[:assignees].map{|assignee| assignee[:login]}.join(",")





 get "/sprint/weekly_report" => "sprint#weekly_report"

 def weekly_report
    @github = Github.new
    @weekly_report = @github.get_all_support_issues
    respond_to do |format|
      format.html
      format.xlsx {render xlsx: "sprint/report"}
     end
  end