.cf-table-wrap
  %table.usa-table-borderless.cf-table-borderless
    %thead
      %tr
        %th{"data-field" => "id"} #
        %th{"data-field" => "Title"} Title
        %th{"data-field" => "status"} Stage
        %th{"data-field" => "Product"} Product
        %th{"data-field" => "Team"} Team
        %th{"data-field" => "Type"} Type
        %th{"data-field" => "date_plan"} Date Planned
        %th{"data-field" => "date_close"} Date Closed
    %tbody
      - $ISS_ARR.each do |iss_num, issue|
        %tr{:style => ('background-color: #fff3e0' if issue[:close_date])}
          %td
            %a{:href => issue[:link]}
              \##{iss_num}
          %td= issue.title
          %td= issue.status.join(",")
          %td= issue.product.join(",")
          %td= issue.team.join(",")
          %td= issue.type.join(",")
          %td= issue.date_planned
          %td= issue.close_date
