%h4 Continuous Integration Health
.cf-ci-success-report.cf-norm{:class => @ci.success_category}
  - if @ci.init_failed
    Travis health check failed to load.
  - else
    %p
      Travis success rate for 
      = @ci.most_recent_build_count
      recent master builds:
      %strong
        = "#{number_to_percentage(@ci.success_rate * 100, precision: 0)}"
      \.
    %p
      - if @ci.most_recent_failed_build_relative_time
        The most recent failed build was 
        %strong
          = @ci.most_recent_failed_build_relative_time
        ago.
      - else
        The most recent 
        = @ci.upper_limit_of_builds_to_check_for_failure
        builds all passed.
%h4 Daily Standup Report
%blockquote
  %p
    Only issues that are marked as
    %strong in progress
    are shown.
.usa-grid
  .usa-width-one-half
    %h4 Repos
    %blockquote
      %ul
        = @github.team_repos.map(&:name).uniq.join(", ")
  .usa-width-one-half
    %h4 Members
    %blockquote
      %ul
        = @github.team_members.map(&:login).uniq.join(", ")
%hr
%br
.row
  - @in_progress_by_assignee.each do |login, issues| 
    .row
      - if @assignees[login]['avatarUrl']
        %img{:alt => "", 
          :src => @assignees[login]['avatarUrl'], 
          :style => "border-radius: 50%; height: 100px;width: 100px;overflow: hidden;"}/
      %h2{:style => "display: inline-block; padding-left: 15px;"}
        = @assignees[login]['name']
        (#{login})
      - if @wip_limit_issues_by_assignee[login][:issue_count] > 0
        %span.cf-norm{:class => @wip_limit_issues_by_assignee[login][:norm]} 
          = @wip_limit_issues_by_assignee[login][:issue_count]
          current in-progress tasks.
    = render "issues_table", issues: issues
    %br/
  - unless @in_progress_by_assignee_optional.count == 0
    %h3 Optional Atteendees
    %br
    - @in_progress_by_assignee_optional.each do |login, issues|
      .row
        %div
          %img{:alt => "", :src => issues.first[:assignee][:avatar_url], :style => "border-radius: 50%; height: 100px;width: 100px;overflow: hidden;"}/
          %h2{:style => "display: inline-block; padding-left: 15px;"}
            = login
            (#{issues.first[:assignee][:login]})
      = render "issues_table", issues: issues
      %br/


- unless @product_support_issues.nil?
  %h2 Product Support Issues
  = render "issues_table", issues: @product_support_issues

- unless @in_validation_issues.nil?
  %h2 In Validation
  = render "issues_table", issues: @in_validation_issues



  
