<h4>Daily Standup Report</h4>

<blockquote><p>Only issues that are marked as <strong>in progress</strong> are shown.</p></blockquote>


<h4>Repos</h4>
<blockquote>
	<ul>
		<% unless params[:team].nil? %>
			<% Github.const_get(params[:team]).each do |repo| %>
				<%= repo[:name] %>
				<br>
			<% end %>
		<% else %>
			All Appeals Mod Repos
		<% end %>
	</ul>	
</blockquote>

<hr>
<br>


<!-- <div class="row">
<div class="col s6">
<h5>Briefing Format</h5>
<ol>
	<li>What have I accomplish since the last Daily Standup?</li>
	<li>What am I doing before our next standup?</li>
	<li>What obstacles are impeding my progress?</li>
</ol>
</div>
<div class="col s6">
<h5>Things to Remember</h5>
<ul>
	<li>Only mention a ticket if there is a change.</li>
</ul>
</div>
</div>
<br>
<hr>
<br><br> -->
<div class="row">
	<% @in_progress_by_assignee.each do |assignee| %>
		<div class="row">
			<div class="" >
				<img src="<%= assignee[:avatar_url] %>" alt="" class="" style="border-radius: 50%; height: 100px;width: 100px;overflow: hidden;">
				<h2 style="display: inline-block; padding-left: 15px;"><%= assignee[:full_name] %> (<%= assignee[:login] %>)</h2>
			</div>
		</div>
		<div class="cf-table-wrap">
		<table class="usa-table-borderless cf-table-borderless">
			<thead>
				<tr>
					<th data-field="id">#</th>
					<th data-field="id">Repo</th>
					<th data-field="description">Description</th>
					<th data-field="labels">Labels</th>
					<th data-field="assignees">Assignees</th>
				</tr>
			</thead>
			<tbody>
				<% assignee[:issues].each do |issue| %>
				<tr style="<%= "background-color: #fff3e0" if issue.key? :pull_request %>">
					<td><a href="<%= issue[:html_url] %>"><%= "PR" if issue.key? :pull_request %>#<%= issue[:number] %></a></td>
					<td><%= issue[:html_url].split("/")[4] %></td>

					<td><%= issue[:title] %></td>
					<td>
						<% issue[:labels].each do |l| %>
							<div class="chip" style="background-color: #<%= l[:color] %>"><%= l[:name] %></div>
						<% end %>
					</td>
					<td>
<!-- 					<% issue[:assignees].each do |a| %>
					 <div class="chip">
					    <img src="<%= a[:avatar_url] %>" alt="Contact Person">
					    <%= a[:login] %>
					  </div>
					  <% end %> -->
					        
						<%= issue[:assignees].map{ |assignee| assignee[:login] }.join(", ") %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
		</div>
		<br>
	<% end %>
</div>

<% unless @in_validation_issues.nil? %>
<h2>In Validation</h2>
<div class="cf-table-wrap">
		<table class="usa-table-borderless cf-table-borderless">
			<thead>
				<tr>
					<th data-field="id">#</th>
					<th data-field="id">Repo</th>
					<th data-field="description">Description</th>
					<th data-field="labels">Labels</th>
					<th data-field="assignees">Assignees</th>
				</tr>
			</thead>
			<tbody>
				<% @in_validation_issues.each do |issue| %>
				<tr style="<%= "background-color: #fff3e0" if issue.key? :pull_request %>">
					<td><a href="<%= issue[:html_url] %>"><%= "PR" if issue.key? :pull_request %>#<%= issue[:number] %></a></td>
					<td><%= issue[:html_url].split("/")[4] %></td>

					<td><%= issue[:title] %></td>
					<td>
						<% issue[:labels].each do |l| %>
							<div class="chip" style="background-color: #<%= l[:color] %>"><%= l[:name] %></div>
						<% end %>
					</td>
					<td>
<!-- 					<% issue[:assignees].each do |a| %>
					 <div class="chip">
					    <img src="<%= a[:avatar_url] %>" alt="Contact Person">
					    <%= a[:login] %>
					  </div>
					  <% end %> -->
					        
						<%= issue[:assignees].map{ |assignee| assignee[:login] }.join(", ") %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
</div>
<% end %>
<!--   <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">Repo Details</div>
      <div class="collapsible-body">
				<table>
					<thead>
						<tr>
							<th>Repo</th>
							<th>Open Issues</th>
						</tr>
					</thead>
					<tbody>
						<%# @repos.each do |repo| %>
							<tr>
								<td><%#= repo[:name] %></td>
								<td><%#= repo[:count] %></td>
							</tr>
						<%# end %>
					</tbody>
				</table>
      </div>
    </li>

  </ul> -->