<% unless @weekly_report.nil? %>
  <h2>Weekly Report</h2>
<% end %>
<p>
Download:
<div><%= link_to 'Weekly Report .xlsx', sprint_weekly_report_path(format: :xlsx) %></div>
<br>
<div><%= link_to 'Incident Report .xlsx', sprint_incident_report_path(format: :xlsx) %></div>
</p>

 <table  class="usa-table-borderless cf-table-borderless">
      <tr>
        <th data-field="number">Number</th>
        <th data-field="id">Date</th>
        <th data-field="description">Summary</th>
        <th data-field="labels">Days Open</th>
        <th data-field="status">State</th>
        <th data-field="labels">closed</th>
        <th data-field="labels">Issue Type</th>
        <th data-field="labels">Product</th>
         <th data-field="labels">Report</th>
      </tr>
  <% @weekly_report.group_by {|issue| }.each do |group, issues| %>
    <h2>
      <%= group.to_s  %>
    </h2>
    <tr class="list-<%= group %>"></tr>
    <tr><% issues.each do |issue|  %>
      <td>
        <%= issue[:number]  %>
      </td>
      <td>
        <%= issue.created_at.localtime%>
      </td>
      <td>
        <%= issue[:title] %>
      </td>
      <td>
        <%= (Date.today - issue[:created_at].to_date).to_i %>
      </td>
      <td>
        <%= issue[:state] %>
      </td>
      <td>
        <%= issue[:closed_at] %>
      </td>
       <td>
        <%= issue[:labels].empty? ? "" : (issue[:labels].collect{ |i| i[:name] } & Github::LABELS).join(", ") %>
      </td>
       <td>
        <%= issue[:labels].empty? ? "" : (issue[:labels].collect{ |i| i[:name] } & Github::PRODUCT_LABELS).join(", ") %>
      </td>
       <td>
        <%= issue[:labels].empty? ? "" : (issue[:labels].collect{ |i| i[:name] } & Github::REPORT_LABELS).join(", ") %>
      </td>
      </tr>
    <% end %>
  <% end %>
 
</table>

