<!DOCTYPE html>
<html>
  <head>
    <title>Caseflow Developer</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <header>
      <nav class="cf-nav">
        <div class="usa-grid-full">
          <a href="/" id="cf-logo-link">
            <h1 class="cf-logo"><%= content_tag(:span, nil, :class => "cf-logo-image cf-logo-image-default") %>Caseflow Developer</h1>
          </a>
          <h2 id="page-title" class="cf-application-title"><%= yield :page_title %></h2>

          <% unless current_user.nil? %>
            <div class="cf-dropdown cf-nav-dropdown">
              <a href="#menu" class="cf-dropdown-trigger" id="menu-trigger">
                Standup Reports
              </a>
              <ul id="menu" class="cf-dropdown-menu" aria-labelledby="menu-trigger">
                <li><%= link_to "All Repos", sprint_standup_path %></li>
                <li><%= link_to "Appeals PM", sprint_standup_path(team: 'APPEALS_PM') %></li>
                <li><%= link_to "Caseflow", sprint_standup_path(team: 'CASEFLOW') %></li>
                <li><%= link_to "BVA Technology", sprint_standup_path(team: 'BVA_TECHNOLOGY')%></li>
                <li><a href ="<%= url_for controller: 'reports', action: 'weekly_report'%>"> Excel Reports</a></li>
              </ul>
              <%= link_to('Sign out', destroy_user_session_path, :method => :delete, style: "padding-left: 15px;") %>
            </div>
          <% end %>
        </div>
      </nav>
    </header>

    <main class="usa-grid">
      <div class="cf-app">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </main>

    <footer class="cf-txt-c usa-grid cf-app-footer">
      <div class="cf-push-left">
        <span>Built</span> with <abbr{border: none; } title="love">&#9825;</abbr> by the
        <a href="http://www.va.gov/ds/">Digital Service at the <abbr{border: none; } title="Department of Veterans Affairs">VA</abbr></a>
      </div>
    </footer>
  </body>      
</html>
