<!DOCTYPE html>
<html>
  <head>
    <title>AppealsSprint</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  </head>

  <body>
    <nav>
      <div class="nav-wrapper blue">
        <div class="container">
        <a href="#" class="brand-logo">Caseflow Developer</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "Caseflow Standup", sprint_standup_path(team: 'caseflow') %></li>
          <li><%= link_to "Appeals PM Standup", sprint_standup_path(team: 'appeals_pm') %></li>
          <li><%= link_to "Appeals All Standup", sprint_standup_path %></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </li>
        </ul>
        </div>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  	<div class="container">

	    <%= yield %>
    </div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
      
</html>
